* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
}

html, body {
  height: 100%;
  font-family: "Segoe UI";
}

h1, h2, h3, h4, h5, h6, p {
  margin: 5px;
  font-family: "Segoe UI";
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
nav {
  height: 108px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
}

.icon {
  width: 200px;
  height: 75px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}
.icon img {
  width: 75px;
  height: 75px;
}
.icon p {
  float: right;
}

.searchbar {
  width: 605px;
  height: 45px;
  border-color: #707070;
  border-width: 1px;
  border-style: solid;
  background-color: #587C83;
  opacity: 55%;
  color: #000;
  justify-content: center;
  padding-inline-start: 5px;
}
.searchbar img {
  width: 25px;
  height: 25px;
  margin: 5px;
  float: left;
  padding: 5px;
}
.searchbar p {
  padding: 7px;
}

a {
  color: #000;
  text-decoration: none;
}
a .aicon {
  align-items: right;
  float: right;
  display: flex;
}
a .aicon img {
  width: 35px;
  height: 35px;
  float: right;
}

span {
  color: #000;
}

.footer {
  width: 100%;
  height: 95px;
  background-color: #587C83;
  display: flex;
  justify-content: space-evenly;
}
.footer .left {
  width: 285px;
  color: #FFF;
  font-family: "Segoe UI";
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}
.footer .center {
  width: 285px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin-right: 250px;
  margin-left: 250px;
}
.footer .center a {
  font-family: "Segoe UI";
  color: #FFF;
  text-decoration: none;
}
.footer .right {
  width: 285px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}
.footer .right img {
  padding: 19px;
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.books .row .bookcover {
  width: 210px;
  height: 279px;
  margin-right: 10px;
}
.books .row .bookcover img {
  width: 100%;
  height: 100%;
}
.books .row .bookinfo p {
  color: #000000;
  font-size: 16pt;
  text-align: right;
}
.books .row .bookinfo p .boldprice {
  font-weight: Bold;
  text-align: right;
}
.books .row .bookinfo button {
  width: 222px;
  height: 68px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  align-items: center;
  padding: 20px;
}

.blog {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 150px;
}
.blog .ff {
  width: 1464px;
  height: 463px;
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  background-color: #587C83;
  display: flex;
}
.blog .ff .row {
  display: table;
  clear: both;
  width: 100%;
  height: 100%;
  margin: 100px;
}
.blog .ff .row .col {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: -100px;
}
.blog .ff .row .col img {
  width: 250px;
  height: 380px;
}
.blog .ff .row .desc {
  margin: 0px;
  margin-left: 250px;
  height: 100%;
  justify-content: right;
  align-items: right;
  text-align: center;
  color: #FFF;
}
.blog .ff .row .desc h1 {
  font-size: 32pt;
}
.blog .ff .row .desc p {
  font-size: 16pt;
}
.blog .ff .row .desc .blogbtn {
  width: 222px;
  height: 68px;
  border-color: #FFF;
  border-style: solid;
  border-width: 1px;
  background-color: #587C83;
  color: #FFF;
}

.blog {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 150px;
}
.blog .bc {
  width: 1464px;
  height: 463px;
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  background-color: #587C83;
  display: flex;
}
.blog .bc .row {
  display: table;
  clear: both;
  width: 100%;
  height: 100%;
  margin: 100px;
}
.blog .bc .row .col {
  display: flex;
  justify-content: left;
  align-items: left;
}
.blog .bc .row .col img {
  margin: -100px;
  width: 624px;
  height: 463px;
}
.blog .bc .row .desc {
  margin: 0px;
  margin-left: 250px;
  height: 100%;
  justify-content: right;
  align-items: right;
  text-align: center;
  color: #FFF;
}
.blog .bc .row .desc h1 {
  font-size: 32pt;
}
.blog .bc .row .desc p {
  font-size: 16pt;
}
.blog .bc .row .desc .blogbtn {
  width: 222px;
  height: 68px;
  border-color: #FFF;
  border-style: solid;
  border-width: 1px;
  background-color: #587C83;
  color: #FFF;
}

.blog {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 150px;
}
.blog .er {
  width: 1464px;
  height: 463px;
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  background-color: #587C83;
  display: flex;
}
.blog .er .row {
  display: table;
  clear: both;
  width: 100%;
  height: 100%;
  margin: 100px;
}
.blog .er .row .col {
  display: flex;
  justify-content: left;
  align-items: left;
}
.blog .er .row .col img {
  margin: -100px;
  width: 624px;
  height: 463px;
}
.blog .er .row .desc {
  margin: 0px;
  margin-left: 250px;
  height: 100%;
  justify-content: right;
  align-items: right;
  text-align: center;
  color: #FFF;
}
.blog .er .row .desc h1 {
  font-size: 32pt;
}
.blog .er .row .desc p {
  font-size: 16pt;
}
.blog .er .row .desc .blogbtn {
  width: 222px;
  height: 68px;
  border-color: #FFF;
  border-style: solid;
  border-width: 1px;
  background-color: #587C83;
  color: #FFF;
}

.account {
  min-height: 100%;
}
.account .row {
  display: table;
  clear: both;
  width: 100%;
  height: 100%;
}
.account .row .form {
  width: 40%;
  height: 100%;
  margin: 50px;
  justify-content: right;
  align-items: center;
}
.account .row .form #fName, .account .row .form #lName, .account .row .form #em, .account .row .form #pw {
  font-size: 16pt;
  color: #FFF;
  width: 400px;
}
.account .row .form #submit {
  padding: 10px;
  font-size: 14pt;
  background-color: #587C83;
  color: #FFF;
  border-color: #FFF;
  border-style: solid;
  border-width: 1px;
}
.account .form2 {
  justify-content: right;
  align-items: right;
  height: 100%;
}
.account .form2 #fName, .account .form2 #lName, .account .form2 #em, .account .form2 #pw {
  font-size: 16pt;
  color: #FFF;
  width: 400px;
}
.account .form2 #submit2 {
  padding: 10px;
  font-size: 14pt;
  background-color: #587C83;
  color: #FFF;
  border-color: #FFF;
  border-style: solid;
  border-width: 1px;
}

/*# sourceMappingURL=styles.css.map */
