* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
}

html, body {
  height: 100%;
  font-family: "Segoe UI";
}

h1, h2, h3, h4, h5, h6, p {
  margin: 5px;
  font-family: "Segoe UI";
}

@font-face {
  font-family: "Segoeui UI";
  src: url(../fonts/segoeui.ttf);
}
@font-face {
  font-family: "Segoeui UI Bold";
  src: url(../fonts/segoeuib.ttf);
}
@font-face {
  font-family: "Segoeui B";
  src: url(fonts/segoeui.ttf);
}
@media screen and (max-width: 1024px) {
  nav {
    height: 108px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
  }
  .icon {
    width: 200px;
    height: 75px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  .icon img {
    width: 45px;
    height: 45px;
  }
  .icon p {
    float: right;
    font-size: 16px;
    margin-right: 21px;
  }
  .searchbar {
    width: 298px;
    height: 23px;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    background-color: #587C83;
    opacity: 45%;
    color: #000;
    display: flex;
    align-items: center;
    margin-left: -20px;
  }
  .searchbar img {
    width: 25px;
    height: 25px;
    padding-left: 6px;
  }
  .searchbar p {
    padding: 7px;
    font-size: 13px;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  a .aicon {
    align-items: right;
    float: right;
    display: flex;
  }
  a .aicon img {
    width: 35px;
    height: 35px;
    float: right;
  }
  span {
    color: #000;
  }
  .hamburger {
    width: 42px;
    height: 42px;
  }
  .noLinks {
    display: none;
  }
  #mobileLinks {
    float: right;
    width: 100%;
    height: 160px;
    text-align: center;
    background-color: #707070;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: none;
  }
  #mobileLinks p {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
  }
  #mobileLinks .mobileIcons {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column;
  }
  #mobileLinks .mobileIcons a {
    margin: 2px;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 600px) {
  nav {
    height: 95px;
    min-width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
  }
  .icon {
    width: 200px;
    height: 25px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  .icon img {
    margin-left: 18px;
    width: 30px;
    height: 30px;
  }
  .icon p {
    float: right;
    margin-left: 8px;
    font-size: 16px;
    width: 105px;
  }
  .searchbar {
    width: 142px;
    height: 16px;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    background-color: #587C83;
    opacity: 35%;
    color: #000;
    display: flex;
    align-items: center;
  }
  .searchbar img {
    width: 16px;
    height: 16px;
    padding-left: 6px;
  }
  .searchbar p {
    font-size: 11px;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  a .aicon {
    align-items: right;
    float: right;
    display: flex;
  }
  a .aicon img {
    width: 35px;
    height: 35px;
    float: right;
  }
  span {
    color: #000;
  }
  .hamburger {
    width: 33px;
    height: 33px;
  }
  .noLinks {
    display: none;
  }
  #mobileLinks {
    float: right;
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: #707070;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: none;
  }
  #mobileLinks p {
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
  }
  #mobileLinks .mobileIcons {
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column;
  }
  #mobileLinks .mobileIcons a {
    margin: 2px;
    color: #FFFFFF;
  }
}
/* DESKTOP NAV */
@media screen and (min-width: 1025px) {
  nav {
    height: 108px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
  }
  .icon {
    width: 200px;
    height: 75px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  .icon img {
    width: 75px;
    height: 75px;
  }
  .icon p {
    float: right;
  }
  .searchbar {
    width: 605px;
    height: 45px;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    background-color: #587C83;
    opacity: 55%;
    color: #000;
    justify-content: center;
  }
  .searchbar img {
    width: 25px;
    height: 25px;
    margin: 5px;
    float: left;
    padding: 5px;
  }
  .searchbar p {
    padding: 7px;
  }
  a {
    color: #000;
    text-decoration: none;
    padding-right: 12px;
  }
  a .aicon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  a .aicon img {
    width: 35px;
    height: 35px;
    margin-right: 12px;
  }
  span {
    color: #000;
  }
  .hamburger {
    display: none;
  }
  #mobileLinks a {
    display: none;
  }
  .mobileIcons {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    width: 100%;
    height: 57px;
    background-color: #587C83;
    display: flex;
    justify-content: space-evenly;
  }
  .footer .left {
    width: 20%;
    color: #FFF;
    font-family: "Segoe UI";
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    font-size: 6px;
  }
  .footer .center {
    width: 33%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  .footer .center a {
    font-family: "Segoe UI";
    color: #FFF;
    text-decoration: none;
    font-size: 6px;
  }
  .footer .right {
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .footer .right img {
    margin-left: 4px;
    width: 14px;
    height: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    width: 100%;
    height: 92px;
    background-color: #587C83;
    display: flex;
    justify-content: space-evenly;
  }
  .footer .left {
    width: 33%;
    color: #FFF;
    font-family: "Segoe UI";
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    font-size: 11px;
  }
  .footer .center {
    width: 33%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  .footer .center a {
    font-family: "Segoe UI";
    color: #FFF;
    text-decoration: none;
    font-size: 11px;
  }
  .footer .right {
    width: 20%;
    justify-content: right;
    align-items: center;
    display: flex;
  }
  .footer .right img {
    margin-left: 15px;
    width: 22px;
    height: 22px;
  }
}
@media screen and (min-width: 1025px) {
  .footer {
    width: 100%;
    height: 95px;
    background-color: #587C83;
    display: flex;
    justify-content: space-evenly;
  }
  .footer .left {
    width: 285px;
    color: #FFF;
    font-family: "Segoe UI";
    align-items: center;
    display: flex;
    padding-left: 20px;
  }
  .footer .center {
    width: 33%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-right: 250px;
    margin-left: 250px;
  }
  .footer .center a {
    font-family: "Segoe UI";
    color: #FFF;
    text-decoration: none;
  }
  .footer .right {
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  .footer .right img {
    padding: 19px;
    width: 45px;
    height: 45px;
  }
}
/* HOME PAGE STYLING */
@media screen and (min-width: 1025px) {
  .bannerArea {
    margin-top: 158px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .homeBanner {
    width: 78%;
    min-height: 500px;
    background-position: center;
    background-size: 120%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    padding-right: 182px;
    margin-bottom: 176px;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../img/home-imgs/home-hero.jpg);
  }
  .homeBanner h1 {
    font-size: 32px;
    font-family: "Segoeui UI Bold";
    color: white;
  }
  .homeBanner h2 {
    font-size: 16px;
    font-family: "Segoeui UI";
    color: white;
  }
  .homeContainer {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 280px;
  }
  .homeBooks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .bookImage {
    width: 306px;
    height: 491px;
  }
  .bookInfo {
    margin-top: 49px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .bookInfo p {
    width: 413px;
    height: 153px;
    font-size: 16px;
    font-family: "Segoeui UI";
    text-align: center;
  }
  .bookInfo button {
    text-decoration: none;
    width: 222px;
    height: 68px;
    font-size: 16px;
    font-family: "Segoeui UI";
    background-color: transparent;
    margin-top: 37px;
  }
  .bookInfo h1 {
    font-size: 32px;
    font-family: "Segoeui UI Bold";
  }
}
@media screen and (max-width: 1024px) {
  .bannerArea {
    margin-top: 158px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .homeBanner {
    width: 542px;
    min-height: 329px;
    background-position: center;
    background-size: 120%;
    display: flex;
    align-items: flex-end;
    padding-right: 54px;
    margin-bottom: 66px;
    justify-content: center;
    flex-direction: column;
    background-color: #587C83;
    background-image: url(../img/home-imgs/home-hero.jpg);
    background-size: 273px 181px;
    background-repeat: no-repeat;
    background-position: bottom 74px left 81px;
  }
  .homeBanner h1 {
    font-size: 12px;
    font-family: "Segoeui UI Bold";
    color: white;
    width: 88px;
  }
  .homeBanner h2 {
    font-size: 7px;
    font-family: "Segoeui UI";
    color: white;
  }
  .homeContainer {
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 280px;
  }
  .homeBooks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .bookImage {
    width: 175px;
    height: 281px;
  }
  .bookInfo {
    margin-top: 4.31em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .bookInfo p {
    width: 413px;
    height: 71px;
    font-size: 11px;
    font-family: "Segoeui UI";
    text-align: center;
  }
  .bookInfo button {
    text-decoration: none;
    width: 183px;
    height: 49px;
    font-size: 12px;
    font-family: "Segoeui UI";
    background-color: transparent;
    margin-top: 31px;
    margin-bottom: 71px;
  }
  .bookInfo h1 {
    font-size: 11px;
    font-family: "Segoeui UI Bold";
  }
}
@media screen and (max-width: 600px) {
  .bannerArea {
    margin-top: 158px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .homeBanner {
    width: 316px;
    min-height: 193px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-right: 46px;
    margin-bottom: 61px;
    flex-direction: column;
    background-color: #587C83;
    background-image: url(../img/home-imgs/home-hero.jpg);
    background-size: 116px 77px;
    background-repeat: no-repeat;
    background-position: bottom 60px left 29px;
  }
  .homeBanner h1 {
    font-size: 6px;
    font-family: "Segoeui UI Bold";
    color: white;
    width: 76px;
    padding-top: 50px;
    padding-bottom: 16px;
  }
  .homeBanner h2 {
    font-size: 6px;
    font-family: "Segoeui UI";
    color: white;
    padding-bottom: 8px;
  }
  .homeContainer {
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 58px;
  }
  .homeBooks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .bookImage {
    width: 70px;
    height: 112px;
  }
  .bookInfo {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .bookInfo p {
    width: 167px;
    height: 32px;
    font-size: 6px;
    font-family: "Segoeui UI";
    text-align: center;
    margin-bottom: -1px;
  }
  .bookInfo button {
    text-decoration: none;
    width: 183px;
    height: 49px;
    font-size: 12px;
    font-family: "Segoeui UI";
    background-color: transparent;
    margin-top: 7px;
    margin-bottom: 86px;
  }
  .bookInfo h1 {
    font-size: 6px;
    font-family: "Segoeui UI Bold";
  }
}
/* ABOUT STYLING */
@media screen and (min-width: 1025px) {
  .aboutPage {
    margin-top: 173px;
    margin-bottom: 78px;
  }
  .aboutPageContent {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 213px;
  }
  .aboutPageContent img {
    width: 393px;
    height: 587px;
    margin-left: 201px;
    padding-top: 42px;
  }
  .aboutText {
    margin-left: 20px;
    margin-right: 152px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .aboutText h1 {
    font-size: 32px;
    font-family: "Segoeui UI Bold";
  }
  .aboutText h2 {
    font-size: 26px;
    font-family: "Segoeui UI Bold";
    margin-top: 15px;
  }
  .aboutText p {
    font-size: 16px;
    font-family: "Segoeui UI Bold";
    margin-top: 61px;
  }
}
@media screen and (max-width: 1024px) {
  .aboutPage {
    margin-top: 62px;
    margin-bottom: 109px;
  }
  .aboutPageContent {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 76px;
  }
  .aboutPageContent img {
    width: 208px;
    height: 343px;
    margin-left: 53px;
    padding-top: 16px;
    object-fit: contain;
  }
  .aboutText {
    margin-left: 84px;
    margin-right: 68px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .aboutText h1 {
    font-size: 12px;
    font-family: "Segoeui UI Bold";
  }
  .aboutText h2 {
    font-size: 8px;
    font-family: "Segoeui UI Bold";
    margin-top: 20px;
  }
  .aboutText p {
    font-size: 11px;
    font-family: "Segoeui UI Bold";
    margin-top: 33px;
    text-align: center;
  }
  .aboutText .secondHead {
    margin-top: 23px;
  }
}
@media screen and (max-width: 600px) {
  .aboutPage {
    margin-top: 125px;
    margin-bottom: 190px;
  }
  .aboutPageContent {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 122px;
  }
  .aboutPageContent img {
    width: 73px;
    height: 132px;
    margin-left: 48px;
    padding-top: 30px;
    object-fit: cover;
  }
  .aboutText {
    margin-left: 1%;
    margin-right: 55px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 197px;
  }
  .aboutText h1 {
    font-size: 6px;
    font-family: "Segoeui UI Bold";
  }
  .aboutText h2 {
    font-size: 6px;
    font-family: "Segoeui UI Bold";
    margin-top: 6px;
  }
  .aboutText p {
    font-size: 6px;
    font-family: "Segoeui UI Bold";
    margin-top: 6px;
    text-align: center;
  }
  .aboutText .secondHead {
    margin-top: 22px;
  }
}
/* .books {
  .row {
    .bookcover {
      width: 210px;
      height: 279px;
      margin-right: 10px;

      img {
        width: 100%;
        height: 100%;
      }

    }

    .bookinfo {
      p {
        color: #000000;
        font-size: 16pt;
        text-align: right;

        .boldprice {
          font-weight: Bold;
          text-align: right;
        }
      }

      button {
        width: 222px;
        height: 68px;
        border-width: 1px;
        border-style: solid;
        text-align: center;
        align-items: center;
        padding: 20px;
      }
    }

  }


} */
.books {
  margin-top: 180px;
  margin-bottom: 196px;
}
.books h1 {
  font-size: 26px;
  padding-left: 54px;
  display: block;
}

.bookSection {
  display: flex;
  align-items: flex-start;
  padding-left: 54px;
  padding-right: 96px;
  margin-bottom: 300px;
  margin-top: 65px;
  flex-wrap: wrap;
}

.bookSection2 {
  display: flex;
  align-items: flex-start;
  padding-left: 54px;
  padding-right: 96px;
  margin-bottom: 300px;
  margin-top: 65px;
  flex-wrap: wrap;
}

.bookSection3 {
  display: flex;
  align-items: flex-start;
  padding-left: 54px;
  padding-right: 96px;
  margin-bottom: 300px;
  margin-top: 65px;
  flex-wrap: wrap;
}

.bookSection4 {
  display: flex;
  align-items: flex-start;
  padding-left: 54px;
  padding-right: 96px;
  margin-bottom: 300px;
  margin-top: 65px;
  flex-wrap: wrap;
}

.bookCover {
  width: 200px;
  height: 255px;
  margin-right: 54px;
  object-fit: contain;
}

.prodContent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  object-fit: contain;
  margin-left: 12px;
  margin-bottom: 50px;
}

.booksets {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  object-fit: contain;
  margin-left: 12px;
}

.prodContent p {
  max-width: 280px;
  margin-top: 22px;
  margin-bottom: 35px;
}

.books h2 {
  font-size: 16px;
  margin-bottom: 35px;
}

.books button {
  text-decoration: none;
  width: 222px;
  height: 68px;
  font-size: 16px;
  font-family: "Segoeui UI";
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
}

.blog {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 150px;
}
.blog .ff {
  width: 1464px;
  height: 463px;
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  background-color: #587C83;
  display: flex;
}
.blog .ff .row {
  display: table;
  clear: both;
  width: 100%;
  height: 100%;
  margin: 100px;
}
.blog .ff .row .col {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: -100px;
}
.blog .ff .row .col img {
  width: 235px;
  height: 365px;
  margin: 50px;
}
.blog .ff .row .desc {
  padding: 50px;
  height: 100%;
  text-align: center;
  color: #FFF;
}
.blog .ff .row .desc h1 {
  font-size: 26pt;
}
.blog .ff .row .desc p {
  font-size: 14pt;
  width: 390px;
}
.blog .ff .row .desc .blogbtn {
  width: 222px;
  height: 68px;
  border-color: #FFF;
  border-style: solid;
  border-width: 1px;
  background-color: #587C83;
  color: #FFF;
}
.blog .ff .row .desc .blogbtn .readmore {
  color: #FFF;
  text-decoration: none;
  font-family: "Segoe UI";
}

.blog {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 150px;
}
.blog .bc {
  width: 1464px;
  height: 463px;
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  background-color: #587C83;
  display: flex;
}
.blog .bc .row {
  display: table;
  clear: both;
  margin: 100px;
}
.blog .bc .row .col {
  display: flex;
  justify-content: left;
  align-items: left;
}
.blog .bc .row .col img {
  margin: -100px;
  width: 624px;
  height: 463px;
}
.blog .bc .row .desc {
  padding-left: 200px;
  height: 100%;
  text-align: center;
  color: #FFF;
}
.blog .bc .row .desc h1 {
  font-size: 26pt;
}
.blog .bc .row .desc p {
  font-size: 14pt;
}
.blog .bc .row .desc .blogbtn {
  width: 222px;
  height: 68px;
  border-color: #FFF;
  border-style: solid;
  border-width: 1px;
  background-color: #587C83;
  color: #FFF;
}
.blog .bc .row .desc .blogbtn .readmore {
  color: #FFF;
  text-decoration: none;
  font-family: "Segoe UI";
}

.blog {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 150px;
}
.blog .er {
  width: 1464px;
  height: 463px;
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  background-color: #587C83;
  display: flex;
}
.blog .er .row {
  display: table;
  clear: both;
  width: 100%;
  height: 100%;
  margin: 100px;
}
.blog .er .row .col {
  display: flex;
  justify-content: left;
  align-items: left;
}
.blog .er .row .col img {
  margin: -100px;
  width: 624px;
  height: 463px;
}
.blog .er .row .desc {
  padding-left: 200px;
  height: 100%;
  text-align: center;
  color: #FFF;
}
.blog .er .row .desc h1 {
  font-size: 26pt;
}
.blog .er .row .desc p {
  font-size: 14pt;
}
.blog .er .row .desc .blogbtn {
  width: 222px;
  height: 68px;
  border-color: #FFF;
  border-style: solid;
  border-width: 1px;
  background-color: #587C83;
  color: #FFF;
}
.blog .er .row .desc .blogbtn .readmore {
  color: #FFF;
  text-decoration: none;
  font-family: "Segoe UI";
}

.febfaves {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 140px;
  margin-bottom: 252px;
}

.fbanner {
  width: 1464px;
  min-height: 463px;
  background-position: center;
  background-size: 120%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  margin-bottom: 140px;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../img/hero-imgs/february-favorites-hero.jpg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.fbanner h1 {
  margin-top: 124px;
  color: #fff;
  font-size: 32px;
}
.fbanner h2 {
  color: #fff;
  font-size: 26px;
}
.fbanner h3 {
  margin-bottom: 124px;
  color: #fff;
  font-size: 16px;
}

.favBooks {
  display: flex;
  justify-content: space-evenly;
  max-width: 1464px;
}
.favBooks img {
  width: 250px;
  height: 380px;
  object-fit: contain;
  margin-bottom: 140px;
}

.bookDesc {
  margin-left: 35px;
}
.bookDesc h1 {
  margin-bottom: 58px;
  font-size: 26px;
}
.bookDesc p {
  margin-bottom: 33px;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .account {
    min-height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 291px;
    flex-direction: column;
  }
  .account .form {
    width: 90%;
    height: 100%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
  }
  .account .form input {
    display: flex;
    text-decoration: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(255, 255, 255);
  }
  .account .form .no-outline:focus {
    outline: none;
  }
  .account .form #fName, .account .form #lName, .account .form #em, .account .form #pw {
    font-size: 11pt;
    color: #FFF;
    width: 233px;
  }
  .account .form button {
    align-items: center;
    justify-content: space-evenly;
    font-size: 12pt;
    background-color: #587C83;
    color: #FFF;
    border-color: #FFF;
    border-style: solid;
    border-width: 1px;
    width: 112px;
    height: 37px;
    font-family: "Segoeui UI";
  }
  .account .form button a {
    color: #FFF;
    text-decoration: none;
    font-family: "Segoeui UI";
  }
  .account .form p {
    font-family: "Segoeui UI";
    font-size: 12pt;
    margin-bottom: 52px;
    width: 233px;
  }
  .account .form2 {
    width: 90%;
    height: 100%;
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
  }
  .account .form2 input {
    display: flex;
    margin-bottom: 33px;
    text-decoration: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(255, 255, 255);
  }
  .account .form2 #fName, .account .form2 #lName, .account .form2 #em, .account .form2 #pw {
    font-size: 11pt;
    color: rgb(0, 0, 0);
    width: 233px;
  }
  .account .form2 button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12pt;
    background-color: #587C83;
    color: #FFF;
    border-color: #FFF;
    border-style: solid;
    border-width: 1px;
    width: 112px;
    height: 37px;
  }
  .account .form2 button a {
    color: #FFF;
    text-decoration: none;
  }
  .account .form2 p {
    font-family: "Segoeui UI";
    font-size: 11pt;
    margin-bottom: 16px;
    width: 233px;
  }
  .account .form2 h1 {
    font-family: "Segoeui UI";
    font-size: 12pt;
    font-weight: normal;
    margin-bottom: 35px;
    width: 233px;
  }
}
@media screen and (min-width: 1025px) {
  .account {
    min-height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 291px;
    flex-wrap: wrap;
  }
  .account .form {
    width: 40%;
    height: 100%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 219px;
  }
  .account .form input {
    display: flex;
    margin-bottom: 44px;
    text-decoration: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(255, 255, 255);
  }
  .account .form .no-outline:focus {
    outline: none;
  }
  .account .form #fName, .account .form #lName, .account .form #em, .account .form #pw {
    font-size: 11pt;
    color: #FFF;
    width: 400px;
  }
  .account .form button {
    justify-content: space-evenly;
    padding: 10px;
    font-size: 16pt;
    background-color: #587C83;
    color: #FFF;
    border-color: #FFF;
    border-style: solid;
    border-width: 1px;
    width: 170px;
    font-family: "Segoeui UI";
  }
  .account .form button a {
    color: #FFF;
    text-decoration: none;
  }
  .account .form p {
    font-family: "Segoeui UI";
    font-size: 26px;
    margin-bottom: 43px;
    width: 390px;
  }
  .account .form2 {
    width: 40%;
    height: 100%;
    margin: 50px;
    justify-content: right;
    align-items: center;
    margin-top: 188px;
  }
  .account .form2 input {
    display: flex;
    margin-bottom: 44px;
    text-decoration: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(255, 255, 255);
  }
  .account .form2 #fName, .account .form2 #lName, .account .form2 #em, .account .form2 #pw {
    font-size: 16pt;
    color: rgb(0, 0, 0);
    width: 400px;
  }
  .account .form2 button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 14pt;
    background-color: #587C83;
    color: #FFF;
    border-color: #FFF;
    border-style: solid;
    border-width: 1px;
    width: 170px;
  }
  .account .form2 button a {
    color: #FFF;
    text-decoration: none;
  }
  .account .form2 p {
    font-family: "Segoeui UI";
    font-size: 16px;
  }
  .account .form2 h1 {
    font-family: "Segoeui UI";
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 600px) {
  .account {
    min-height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 291px;
    flex-direction: column;
    width: 100%;
  }
  .account .form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 74px;
  }
  .account .form input {
    display: flex;
    text-decoration: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(255, 255, 255);
  }
  .account .form .no-outline:focus {
    outline: none;
  }
  .account .form #fName, .account .form #lName, .account .form #em, .account .form #pw {
    font-size: 6pt;
    color: #FFF;
    width: 138px;
  }
  .account .form button {
    padding: 5px;
    font-size: 6pt;
    background-color: #587C83;
    color: #FFF;
    border-color: #FFF;
    border-style: solid;
    border-width: 1px;
    width: 68px;
    height: 25px;
    font-family: "Segoeui UI";
  }
  .account .form p {
    font-family: "Segoeui UI";
    font-size: 8pt;
    margin-bottom: 23px;
    width: 138px;
  }
  .account .form2 {
    width: 90%;
    height: 100%;
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 52px;
  }
  .account .form2 input {
    display: flex;
    margin-bottom: 14px;
    text-decoration: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(255, 255, 255);
  }
  .account .form2 #fName, .account .form2 #lName, .account .form2 #em, .account .form2 #pw {
    font-size: 6pt;
    color: rgb(0, 0, 0);
    width: 130px;
  }
  .account .form2 button {
    padding: 5px;
    font-size: 6pt;
    background-color: #587C83;
    color: #FFF;
    border-color: #FFF;
    border-style: solid;
    border-width: 1px;
    width: 68px;
    height: 25px;
  }
  .account .form2 button a {
    color: #FFF;
    text-decoration: none;
  }
  .account .form2 p {
    font-family: "Segoeui UI";
    font-size: 7pt;
    margin-bottom: 11px;
    width: 130px;
  }
  .account .form2 h1 {
    font-family: "Segoeui UI";
    font-size: 8pt;
    font-weight: normal;
    margin-bottom: 29px;
    width: 130px;
  }
}
.loggedin {
  margin: 200px;
}
.loggedin .col {
  align-items: left;
  justify-content: left;
  display: flex;
}
.loggedin .col .head h1 {
  font-size: 36pt;
  font-family: "Segoe UI";
}
.loggedin .col2 {
  align-items: right;
  justify-content: right;
  display: flex;
  margin: 100px;
}
.loggedin .col2 img {
  width: 200px;
}

/*# sourceMappingURL=styles.css.map */
