.account {
    min-height: 100%;
    display: flex;
    justify-content: space-evenly;
   
                
        .form {
            width: 40%;
            height: 100%;
            margin: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
           // background-color: chartreuse;

            

            input {
                display: flex;
                margin-bottom: 44px;
                text-decoration: none;
                border-top-style: hidden;
                border-right-style: hidden;
                border-left-style: hidden;
                border-bottom-style: groove;
                background-color: rgb(255, 255, 255);
            }

            .no-outline:focus {
                outline: none;
              }



            #fName, #lName, #em, #pw {
                font-size: 16pt;
                color: #FFF;
                width: 400px;
                
            }

            #submit {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 10px;
                font-size: 14pt;
                background-color: #587C83;
                color: #FFF;
                border-color: #FFF;
                border-style: solid;
                border-width: 1px;
                width: 170px;
                font-family: "Segoeui UI";
            }
        }
        .form p {
            font-family: "Segoeui UI";
            font-size: 26px;
            margin-bottom: 43px;
            
        }
                
        .form2 {
            width: 40%;
            height: 100%;
            margin: 50px;
            justify-content: right;
            align-items: center;
            //background-color: pink;
        

            input {
                display: flex;
            }

            #fName, #lName, #em, #pw {
                font-size: 16pt;
                color: #FFF;
                width: 400px;
                
            }

            #submit2 {
                padding: 10px;
                font-size: 14pt;
                background-color: #587C83;
                color: #FFF;
                border-color: #FFF;
                border-style: solid;
                border-width: 1px;
            }
        }
    }
    

