/* .books {
  .row {
    .bookcover {
      width: 210px;
      height: 279px;
      margin-right: 10px;
    
      img {
        width: 100%;
        height: 100%;
      }
      
    }

    .bookinfo {
      p {
        color: #000000;
        font-size: 16pt;
        text-align: right;

        .boldprice {
          font-weight: Bold;
          text-align: right;
        }
      }

      button {
        width: 222px;
        height: 68px;
        border-width: 1px;
        border-style: solid;
        text-align: center;
        align-items: center;
        padding: 20px;
      }
    }
    
  }

  
} */



.books {
  margin-top: 180px;
  margin-bottom: 196px;

    h1 {
      font-size: 26px;
      padding-left: 54px;
      display: block;
    }
}

.bookSection {
  //height: 100vh;
  display: flex;
  align-items:flex-start;
  //justify-content: flex-end;
  padding-left: 54px;
  padding-right: 96px;
  margin-bottom: 300px;
  margin-top: 65px;
  flex-wrap: wrap;
}

.bookSection2 {
  //height: 100vh;
  display: flex;
  align-items:flex-start;
  //justify-content: flex-end;
  padding-left: 54px;
  padding-right: 96px;
  margin-bottom: 300px;
  margin-top: 65px;
  flex-wrap: wrap;
}

.bookSection3 {
  //height: 100vh;
  display: flex;
  align-items:flex-start;
  //justify-content: flex-end;
  padding-left: 54px;
  padding-right: 96px;
  margin-bottom: 300px;
  margin-top: 65px;
  flex-wrap: wrap;
}

.bookSection4 {  //CHILDREN BOOKS
  //height: 100vh;
  //background-color: pink;
  display: flex;
  align-items:flex-start;
  //justify-content: flex-end;
  padding-left: 54px;
  padding-right: 96px;
  margin-bottom: 300px;
  margin-top: 65px;
  flex-wrap: wrap;
}

.bookCover {
  width: 200px;
  height: 255px;
  //background-color: blueviolet;
  margin-right: 54px;
  object-fit: contain;
}



.prodContent {
  //background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  object-fit: contain;
  margin-left: 12px;
  margin-bottom: 50px;
 // flex-wrap: wrap;
  
}

.booksets {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  object-fit: contain;
  margin-left: 12px;
}

.prodContent p {
  max-width: 280px;
  margin-top: 22px;
  margin-bottom: 35px;
}

.books h2 {
  font-size: 16px;
  margin-bottom: 35px;
}

.books button {
  text-decoration: none;
  width: 222px;
  height: 68px;
  font-size: 16px;
  font-family: "Segoeui UI";
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #000;

}


