.loggedin {
    margin: 100px;
    justify-content: space-between;


    // .row {
        // background-color: blue;
        // flex-direction: column;
        // display: flex;

        .col{
            background-color: purple;
            width: 50%;
            display: flex;
            justify-content: left;
        }
        
        .col2 {
            background-color: burlywood;
            width: 50%;
            display: flex;
            justify-content: right;
        }
    // }


    }