



//TABLET NAV
@media screen and (max-width: 1024px) {
  nav {
    height: 108px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
  }

  .icon {
    width: 205px;//200px;
    height: 75px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    

    img {
      width: 45px;  //
      height: 45px; //
  
      
    }
    p {
      float: right;
      font-size: 16px;
      margin-right: 21px;

    }

  }

  .searchbar {
    width: 298px;
    height: 23px;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    background-color: #587C83;
    opacity: 45%;
    color: #000;
    //justify-content: center;
    //padding-inline-start: 5px;
    display: flex;
    align-items: center;
    margin-left: -20px;

    img {
      width: 25px;//16px;
      height: 25px;//16px;
      //margin: 5px;
      //float: left;
      //padding: 5px;
      padding-left: 6px;
    }

    p {
      padding: 7px;
      font-size: 13px; //
    }

  }
  
  a {
    color: #000;
    text-decoration: none;
    
    

    .aicon {
      align-items: right;
      float: right;
      display: flex;
      img {
        width: 35px;
        height: 35px;
        float: right;
      };


    }
  }
  
  span {
    color: #000;
  }
  .hamburger {
    width: 42px;
    height: 42px;
  }
  .noLinks {
    display: none;
  }

  #mobileLinks {
    float: right;
    width: 100%;
    height: 160px;
    text-align: center;
    background-color: #707070;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: none;
    
    
    
    
  
      p{
        font-size: 12px;
        display: flex;
        //align-items: center;
        justify-content: flex-end;
        
        color: #FFFFFF;
      }

      .mobileIcons {
        font-size: 14px;
        display: flex;
        align-items: flex-end;
        justify-content: right;
        flex-direction: column;
        
          a {
            margin: 2px;
            color: #FFFFFF;
          }
      }
  }

}



//PHONE
@media screen and (max-width: 600px) {
  nav {
    height: 95px;
    min-width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
  }

  .icon {
    width: 205px;
    height: 25px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;

    img {
      margin-left: 18px;
      width: 30px;
      height: 30px;
      
      
    }

    p {             //search bar text
      float: right;
      margin-left: 8px;
      font-size: 16px;
      width: 105px;
      
    }


  }

  .searchbar {
    width: 142px;
    height: 16px;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    background-color: #587C83;
    opacity: 35%;
    color: #000;
    //justify-content: center;
    //padding-inline-start: 5px;
    display: flex;
    align-items: center;
    

    img {
      width: 16px;
      height: 16px;
      //margin: 5px;
      //float: left;
      //padding: 5px;
      padding-left: 6px;

    }

    p {
      font-size: 11px;
    }

  }
  
  a {
    color: #000;
    text-decoration: none;
    
    

    .aicon {
      align-items: right;
      float: right;
      display: flex;
      img {
        width: 35px;
        height: 35px;
        float: right;
      };


    }
  }
  
  span {
    color: #000;
  }
  .hamburger {
    width: 33px;
    height: 33px;
  }

  .noLinks {
    display: none;
  }

  #mobileLinks {
    float: right;
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: #707070;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: none;
    
    
    
    
  
      p{
        font-size: 10px;
        display: flex;
        //align-items: center;
        justify-content: flex-end;
        
        color: #FFFFFF;
      }

      .mobileIcons {
        font-size: 12px;
        display: flex;
        align-items: flex-end;
        justify-content: right;
        flex-direction: column;
        
          a {
            margin: 2px;
            color: #FFFFFF;
          }
      }
  }

}

/* DESKTOP NAV */
@media screen and (min-width: 1025px) {
  nav {
    height: 108px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
  }

  .icon {
    width: 205px;
    height: 75px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;

    img {
      width: 75px;
      height: 75px;
      
      
    }
    p {
      float: right;

    }

  }

  .searchbar {
    width: 605px;
    height: 45px;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    background-color: #587C83;
    opacity: 55%;
    color: #000;
    justify-content: center;
    //padding-inline-start: 5px;

    img {
      width: 25px;
      height: 25px;
      margin: 5px;
      float: left;
      padding: 5px;
    }

    p {
      padding: 7px;
    }

  }
  
  a {
    color: #000;
    text-decoration: none;
    

    .aicon {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      
      img {
        width: 35px;
        height: 35px;
        //float: right;
        margin-right: 12px
        
      };


    }
  }
  
  span {
    color: #000;
  }
  .hamburger {
    display: none;
  }


  #mobileLinks a {
    display: none;
  }

  .mobileIcons {
    display: none;
  }
}





  
  